@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400");
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,800");
ul {
  list-style-type: none;
  padding: 0; }

* {
  box-sizing: content-box; }

body {
  background: #efefef; }

html {
  font-size: 16px; }
  @media screen and (max-width: 720px) {
    html {
      font-size: 18px; } }

body {
  font-family: 'Muli', sans-serif;
  -webkit-font-kerning: normal;
  font-kerning: normal; }

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 0.4rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 1.5rem 0; }
  @media screen and (max-width: 720px) {
    h1 {
      font-size: 2rem;
      text-align: left; } }

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  margin: 1rem 0; }
  @media screen and (max-width: 720px) {
    h2 {
      font-size: 1.2rem; } }

h3 {
  font-weight: 400;
  margin: 1rem 0;
  font-size: 1.1rem; }

h4 {
  font-weight: 400;
  font-size: 0.9rem;
  margin: 2rem 0;
  margin-top: -1.3rem; }
  @media screen and (max-width: 720px) {
    h4 {
      padding-bottom: 0;
      text-align: right; } }

p {
  font-weight: 400;
  line-height: 1.3rem;
  font-size: 0.9rem; }

ul {
  font-size: 0.9rem; }

.faded {
  color: #666666; }

strong {
  font-weight: 800; }

.page {
  background: white;
  display: block;
  margin: 0 auto;
  padding: 0 2.54cm;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); }
  .page.A4page {
    max-width: 21cm;
    min-height: 29.7cm; }
  @media screen and (max-width: 720px) {
    .page {
      padding: 0 30px; } }
  @media print {
    .page {
      box-shadow: 0;
      max-width: 100%; } }

.descriptionContainer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #fff; }
  .descriptionContainer .descriptionTitle {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    text-transform: uppercase; }
  .descriptionContainer .descriptionText {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    text-align: justify; }
  .descriptionContainer:before {
    display: block;
    color: #999999;
    letter-spacing: 1px;
    font-size: 0.6em;
    overflow: hidden;
    content: '....................................................................................................................................................................................................................'; }
  @media screen and (max-width: 720px) {
    .descriptionContainer {
      display: block; } }

.mainHeader {
  text-align: center;
  padding: 3em 0; }
  @media screen and (max-width: 720px) {
    .mainHeader {
      padding: 1em 0; } }

.contacts {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 11pt;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0; }
  .contacts li:nth-child(1):after, .contacts li:nth-child(2):after {
    content: "\25cf";
    text-align: center;
    padding: 0 0.5em; }
  @media screen and (max-width: 720px) {
    .contacts {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .contacts li:nth-child(1):after, .contacts li:nth-child(2):after {
        content: "";
        padding: 0; } }

.personalSkills {
  -webkit-flex-basis: 75%;
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .personalSkills article {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .personalSkills article h3 {
      min-height: 44px; }
    .personalSkills article ul {
      border-left: 1px solid #999999;
      padding-left: 0.5rem; }
  @media screen and (max-width: 720px) {
    .personalSkills {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .personalSkills article {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        .personalSkills article > * {
          -webkit-flex-basis: 50%;
          -ms-flex-preferred-size: 50%;
          flex-basis: 50%; } }

.mainFooter {
  text-align: center;
  padding: 2em 0; }

.dateList {
  -webkit-flex-basis: 75%;
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%; }
  .dateList article p {
    margin: 0; }
  .dateList article div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .dateList article div h3:nth-child(1) {
      -webkit-flex: 2 1 auto;
      -ms-flex: 2 1 auto;
      flex: 2 1 auto; }
    .dateList article div h3:nth-child(2) {
      text-align: right;
      margin: 1rem 0;
      -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto; }
